---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/sections/Hero.astro";
import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Skills from "@/components/sections/Skills.astro";
import KeyboardManager from "@/components/sections/KeyboardManager.astro";
import Experience from "@/components/sections/Experience.astro";
---

<Layout title="Portfolio Andino Elias">
	<main class="w-dvw p-16 gap-6 flex flex-col">
		<Hero />
		<About />
		<Skills />
		<Experience />
		<Education />
	</main>
	<KeyboardManager />
</Layout>

<style>
	main {
		max-width: 700px;
		margin: 0 auto;
	}
</style>
