---
import { basics } from "@cv";
const { summary } = basics;
import Abouticon from "@/icons/Abouticon.astro";
---

<section class="flex flex-col gap-2">
    <h2 class="text-xl font-bold flex"><Abouticon/>Sobre mi</h2>
    <p>{summary}</p>
</section>
