---
import Section from "../Section.astro";
import { education } from "@cv";
import Academy from "@/icons/academy.astro";

// const { institution, title, studyType, endDate} = education;
---

<Section title="Educación">
    <ul class="flex flex-col gap-4">
        {
            education.map(({ institution, title, studyType, endDate }) => {
                return (
                    <li class="flex justify-between">
                        <article class="flex flex-col items-center gap-2 items-baseline">
                            <h3 class="border-b border-black border-solid">{title}</h3>
                            <h4 class="flex flex-row"><Academy /> {institution}</h4>
                        </article>
                        <p class="flex flex-row gap-4 items-center">
                            <span class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded border border-gray-500">{studyType}</span>
                        </p>
                    </li>
                );
            })
        }
        
    </ul>
</Section>

<style>
    h3 {
        font-size: 1.2rem;
        font-weight: 500;
    }
    h4 {
        font-size: 1rem;
    }

    @media screen and (max-width: 768px) {
        h3 {
            border: none;
        }

        article {
            border-left: 3px solid #eee;
            padding-left: .7rem;
        }

        span{
            margin: 0
        }
        
    }
</style>