---
import { education } from "@cv";
import Academy from "@/icons/academy.astro";
---

<section class="flex flex-col gap-4">
    <h2 class="font-bold text-xl flex"> <Academy />Educación</h2>
    <ul class="grid grid-cols-1 gap-2 md:grid-cols-2 print:grid-cols-2">
        {
            education.map(({ institution, title, studyType, endDate }) => {
                return (
                    <li class="flex justify-between  p-2">
                        <article class="flex flex-col gap-2 justify-center">
                            <h3 class="text-lg font-semibold">{title}</h3>
                            <div class="flex justify-between place-items-center">
                            <h4 class="text-sm">
                                •{institution}
                            </h4>
                            <h5 class="bg-gray-100 text-gray-800 text-xs rounded border border-gray-500 py-1 px-2 h-6 w-auto">
                                {studyType}
                            </h5>
                            </div>
                        </article>
                    </li>
                );
            })
        }
    </ul>
</section>
<style>
    article {
        border-left: 3px solid #eee;
        padding-left: 0.7rem;
    }
    @media screen and (max-width: 768px) {
        h3 {
            border: none;
        }


        span {
            margin: 0;
        }
    }
</style>
